body {
    margin: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: #1f1f1f;
    color: #e0e0e0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav {
    background-color: #2b2b2b;
    backdrop-filter: blur(5px);
    padding: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#acceuil {
    align-items: center;
    padding: 10px;
    justify-items: center;
    transition: 0.3s;
}

#acceuil a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.home-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    padding-left: 30px;
    filter: brightness(60%);
    transition: 0.3s ease-in-out;
}

#acceuil .home-icon {
    filter: brightness(60%);
}

#acceuil:hover .home-icon {
    filter: brightness(80%);
    transform: scale(1.1);
    transition: 0.3s;
}

.nav-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

nav .nav-box {
    filter: brightness(60%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    transition: 0.3s;
}

nav .nav-box:hover {
    filter: brightness(80%);
    transform: translateY(-5px);
    transition: 0.3s;
}

.top {
    background-color: #2b2b2b;
    width: 100%;
    display: flex;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top-box {
    align-content: center;
    padding: 20px;
    flex-grow: 1;
}

#profile-picture {
    padding-left: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.presentation {
    width: 100%;
    min-height: 700px;
    display: flex;
    gap: 40px;
    box-sizing: border-box;
    padding: 30px;
    background-color: #2b2b2b;
}

#about, #education {
    background-color: #333333;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#about:hover, #education:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.videos {
    display: flex;
    gap: 30px;
    padding: 30px;
    background-color: #2b2b2b;
    margin-bottom: 20px;
}

.video-box {
    background-color: #333333;
    display: flex;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.video-box:hover {
    background-color: #444444;
    transform: scale(1.03);
}

.video-box video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #2b2b2b;
}

#contact-text {
    font-size: 24px;
    color: #e0e0e0;
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.socials {
    display: flex;
    gap: 15px;
    padding: 10px;
    align-items: center;
}

.socials h2 {
    margin: 0;
    color: #e0e0e0;
    font-size: 20px;
}


.socials img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.socials img:hover {
    transform: scale(1.1);
}

h1, h2 {
    color: #e0e0e0;
    margin: 0;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding-right: 30px;
}

.hamburger-menu .bar {
    filter: brightness(60%);
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.mobile-menu {
    display: none;
}

.mobile-menu.active {
    display: none;
    position: absolute;
    top: 90px;
    right: 10px;
    background-color: #333333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 150px;
    transition: all 0.3s ease;
}

.h-box {
    margin: 10px 0;
}

.h-box a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.h-box a:hover {
    background-color: #444444; /* Darker background on hover */
    transform: scale(1.05);
}

.h-box .close-btn {
    background-color: #444444;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Close button hover effect */
.h-box .close-btn:hover {
    background-color: #555555;
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
    .videos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .video-box {
        width: 100%;
    }

    .videos .video-box:nth-child(3) {
        grid-column: span 2;
    }
}

@media screen and (max-width: 768px) {
    .nav-items ul {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 20px;
        text-align: center;
    }

    .mobile-menu.active {
        display: block;
    }

    .hamburger-menu {
        display: flex;
        animation: getIn 0.3s ease-out forwards;
    }

    .presentation {
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }

    #about, #education {
        width: 100%;
        height: 100%;
    }

    .videos {
        flex-direction: column;
        gap: 20px;
    }

    .video-box {
        width: 100%;
    }

    .contact {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #contact-text {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .socials {
        flex-direction: column;
        gap: 10px;
    }

    .socials h2 {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 468px) {
    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

nav ul {
    animation: getIn 0.3s ease-out forwards;
}

@keyframes getIn {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

@keyframes getOut {
    from {
        filter: opacity(1);
    }
    to {
        filter: opacity(0);
    }
}
